<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="im.vector"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- universal links management -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <!-- for android 4.1.* devices, reported by GA -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- videocall permissions-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- required on android 6.0.0 devices -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- shared files from external application -->
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <!-- to be able to turn on display when a notification is received-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- start the background sync on boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- videocall feature-->
    <!-- android.permission.CAMERA defines android.hardware.camera -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"
        tools:replace="required" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false"
        tools:replace="required"/>

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"
        tools:replace="required" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="false"
        tools:replace="required" />

    <!-- android.permission.RECORD_AUDIO defines android.hardware.microphone -->
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"
        tools:replace="required" />

    <!-- ShortcutBadger permissions-->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" />
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE" />

    <!-- bluetooth headset -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false"
        tools:replace="required" />

    <!-- jitsi -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>

    <application
        android:name="im.vector.VectorApp"
        android:allowBackup="false"
        android:icon="@drawable/logo"
        android:label="@string/riot_app_name"
        android:largeHeap="true"
        android:logo="@drawable/logo"
        android:resizeableActivity="false"
        android:theme="@style/AppTheme"
        tools:replace="allowBackup,label">

        <!-- activities list starts here -->
        <activity
            android:name="im.vector.activity.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/LoginAppTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="im.vector.activity.AccountCreationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/create_account"></activity>

        <activity
            android:name="im.vector.activity.AccountCreationCaptchaActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/create_account"></activity>

        <activity
            android:name="im.vector.activity.FallbackLoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/login"></activity>

        <activity
            android:name="im.vector.activity.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name="im.vector.activity.LoggingOutActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name="im.vector.activity.VectorHomeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_home"
            android:theme="@style/HomeActivityTheme"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name="im.vector.activity.HistoricalRoomsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_historical"
            android:parentActivityName="im.vector.activity.VectorHomeActivity"
            android:theme="@style/HomeActivityTheme"
            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name="im.vector.activity.VectorRoomActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_room"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="im.vector.activity.VectorRoomCreationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/room_creation_title"
            android:launchMode="singleTop"
            android:parentActivityName="im.vector.activity.VectorHomeActivity"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="im.vector.activity.VectorRoomActivity" />
        </activity>

        <activity
            android:name="im.vector.activity.VectorRoomDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/room_details_title"
            android:launchMode="singleTop"
            android:parentActivityName="im.vector.activity.VectorRoomActivity"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="im.vector.activity.VectorRoomActivity" />
        </activity>

        <activity
            android:name="im.vector.activity.VectorSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_settings"
            android:parentActivityName="im.vector.activity.VectorHomeActivity"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="im.vector.activity.VectorHomeActivity" />
        </activity>

        <activity
            android:name="im.vector.activity.VectorMemberDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_member_details"
            android:parentActivityName="im.vector.activity.VectorRoomActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="im.vector.activity.VectorRoomActivity" />
        </activity>

        <activity
            android:name="im.vector.activity.LockScreenActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Holo.Light.Dialog" />

        <activity
            android:name="im.vector.activity.JoinScreenActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Holo.Light.Dialog" />

        <activity
            android:name="im.vector.activity.VectorMediasViewerActivity"
            android:configChanges="orientation|screenSize"
            android:label="a filename"
            android:launchMode="singleTop"
            android:parentActivityName="im.vector.activity.VectorRoomActivity"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="im.vector.activity.VectorRoomActivity" />
        </activity>

        <activity
            android:name="im.vector.activity.VectorCallViewActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/CallActivityTheme" />

        <activity
            android:name="im.vector.activity.JitsiCallActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />

        <activity
            android:name="im.vector.activity.WidgetActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />

        <activity
            android:name="im.vector.activity.IntegrationManagerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />

        <activity
            android:name="im.vector.activity.VectorMediasPickerActivity"
            android:label="@string/media_picker_both_capture_title"
            android:launchMode="singleTop"
            android:parentActivityName="im.vector.activity.VectorRoomActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="im.vector.activity.VectorHomeActivity" />
        </activity>

        <activity
            android:name="im.vector.activity.VectorPublicRoomsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/directory_title"
            android:launchMode="singleTop"
            android:parentActivityName="im.vector.activity.VectorUnifiedSearchActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="im.vector.activity.VectorUnifiedSearchActivity" />
        </activity>

        <activity
            android:name=".activity.VectorUnifiedSearchActivity"
            android:configChanges="orientation|screenSize"
            android:label="Vector searches"
            android:launchMode="singleTop"
            android:parentActivityName="im.vector.activity.VectorHomeActivity"
            android:theme="@style/SearchesAppTheme"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="im.vector.activity.VectorHomeActivity" />
        </activity>

        <activity
            android:name=".activity.VectorRoomInviteMembersActivity"
            android:configChanges="orientation|screenSize"
            android:label="Vector searches"
            android:launchMode="singleTop"
            android:parentActivityName="im.vector.activity.VectorRoomDetailsActivity"
            android:theme="@style/SearchesAppTheme"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="im.vector.activity.VectorHomeActivity" />
        </activity>

        <activity android:name=".activity.VectorUniversalLinkActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="vector.im" />
                <data android:pathPrefix="/app/" />
                <data android:pathPrefix="/beta/" />
                <data android:pathPrefix="/develop/" />
                <data android:pathPrefix="/staging/" />
                <!-- mail validation -->
                <data android:pathPrefix="/_matrix/" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="riot.im" />
                <data android:pathPrefix="/app/" />
                <data android:pathPrefix="/beta/" />
                <data android:pathPrefix="/develop/" />
                <data android:pathPrefix="/staging/" />
                <!-- mail validation -->
                <data android:pathPrefix="/_matrix/" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="matrix.to" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.VectorFakeRoomPreviewActivity"
            android:theme="@android:style/Theme.NoDisplay"></activity>

        <activity
            android:name="im.vector.activity.PhoneNumberAdditionActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/settings_add_phone_number"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="im.vector.activity.CountryPickerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/settings_select_country"
            android:theme="@style/CountryPickerTheme" />

        <activity
            android:name="im.vector.activity.LanguagePickerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/settings_select_language"
            android:theme="@style/CountryPickerTheme" />

        <activity
            android:name="im.vector.activity.RoomDirectoryPickerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/select_room_directory"
            android:theme="@style/DirectoryPickerTheme" />

        <activity
            android:name="im.vector.activity.PhoneNumberVerificationActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/settings_phone_number_verification"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- broadcast receiver -->
        <receiver
            android:name=".receiver.VectorUniversalLinkReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="im.vector.receiver.UNIVERSAL_LINK" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="vector.im" />
                <data android:pathPrefix="/app/" />
                <data android:pathPrefix="/beta/" />
                <data android:pathPrefix="/develop/" />
                <data android:pathPrefix="/staging/" />
            </intent-filter>

            <intent-filter>
                <action android:name="im.vector.receiver.UNIVERSAL_LINK" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="riot.im" />
                <data android:pathPrefix="/app/" />
                <data android:pathPrefix="/beta/" />
                <data android:pathPrefix="/develop/" />
                <data android:pathPrefix="/staging/" />
            </intent-filter>

            <intent-filter>
                <action android:name="im.vector.receiver.UNIVERSAL_LINK" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="matrix.to" />
            </intent-filter>

            <intent-filter>
                <action android:name="im.vector.receiver.UNIVERSAL_LINK_RESUME" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.VectorRegistrationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="im.vector.receiver.BROADCAST_ACTION_REGISTRATION" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="vector.im" />
                <!-- mail validation -->
                <data android:pathPrefix="/_matrix/" />
            </intent-filter>
        </receiver>

        <receiver android:name="im.vector.receiver.VectorBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_USER_UNLOCKED" />
            </intent-filter>
        </receiver>

        <receiver android:name="im.vector.receiver.DismissNotificationReceiver"/>

        <!-- Shared items  -->
        <activity
            android:name=".activity.VectorSharedFilesActivity"
            android:theme="@android:style/Theme.NoDisplay">

            <intent-filter> 
                <action android:name="android.intent.action.SEND" /> 
                <category android:name="android.intent.category.DEFAULT" /> 
                <data android:mimeType="*/*" /> 
            </intent-filter>
             

            <intent-filter> 
                <action android:name="android.intent.action.SEND_MULTIPLE" /> 
                <category android:name="android.intent.category.DEFAULT" /> 
                <data android:mimeType="*/*" /> 
            </intent-filter>
        </activity>

        <service android:name="im.vector.services.EventStreamService" />

        <provider
            android:name="im.vector.db.VectorContentProvider"
            android:authorities="im.vector.VectorApp.provider"
            android:exported="true" />
    </application>

</manifest>
